@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__item {
    @apply font-bold text-[18px] text-muted-color;
  }
  .nav__item .active {
    @apply text-[black]  border-b-common-color border-b-4;
  }

  .nav__icon {
    @apply lg:bg-body-bg rounded-full w-[33px] h-[33px] flex items-center justify-center cursor-pointer text-common-gray capitalize bg-gray-300;
  }
}

input {
  outline: none;
  width: 100%;
}
select {
  outline: none;
  border: 1px solid lightgray;
}
select:hover {
  background-color: lightgray;
  transition: all 0.3s;
}
label {
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out,
    -webkit-transform 0.1s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.modal__cross {
  transform: translate(-50%, -50%);
  right: calc(50% - 285px) !important;
  background-color: #e4e4e4;
  height: 40px;
  width: 40px;
  top: 30vh;
  bottom: auto;
}

.carousel.carousel-slider {
  overflow: visible !important;
}

img {
  object-fit: contain;
}

.tree__view > ul {
  max-width: 100% !important;
}

.tree__view > ul > li {
  border-bottom: 1px solid #e4e4e4;
}
.MuiTreeItem-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 5px 0;
}
.MuiTreeItem-label {
  width: 75% !important;
}
.middle-body {
  width: 500px;
}
.nvt__carousel > img {
  width: 65px !important;
}

.thumbs-wrapper {
  margin: 1px !important;
}
.thumb {
  margin: 1px !important;
  padding: 1px !important;
  border-radius: 3px;
}
.thumb.selected,
.thumb:hover {
  border: 1px solid gray !important;
}

.MuiTreeItem-label svg{
 padding: 1px !important;
 height: 12px !important;
}

.MuiTreeItem-content{
 padding: 0 !important;
}
.MuiBox-root{
  padding: 0 !important;
}
@media screen and (max-width: 1024px) {
  .modal__cross {
    right: calc(50% - 265px) !important;
  }
}
@media screen and (max-width: 500px) {
  .modal__cross {
    right: -10px !important;
  }
}

@media screen and (max-width: 500px) {
  .middle-body {
    width: 100% !important;
  }
}
